/.vscode
/css.png
/databases.png
/day1.html
/foodmunch.png
/forms.html
/frontendassignment.html
/hello.js
/html.png
/index.css
/javascript.png
/myportfolio.html
/myportfolio.js
/myresume.html
/overflow.css
/overflow.html
/python img.png
/SrujanPic.jpg
/style.css
/tables.html
/tmaudio.m4a
/todos.png
/tourism.png
/tourism1.png
/tutorial.html
/wd.html
/WhatsApp Image 2022-11-06 at 19.30.15.jpg